@charset "UTF-8";

.tnb { clear: both; width: 100%; height: 30px; background-color: crimson; }
.tnb_wrap { clear: both; width: 1800px ; margin: 0 auto; height: 20px; }

.right_tnb li a.sns1 { background-position:-67px -67px; }
.right_tnb li a.sns2 { background-position:-7px -67px; }
.right_tnb li a.sns3 { background-position:-36px -67px; }

.left_tnb { float: left; }
.left_tnb li { float: left; line-height: 30px; }
.left_tnb li:after { content: "|"; color: #fff; margin-right: 10px; }
.left_tnb li:last-child::after { content: "";}
.left_tnb li a { margin-right: 10px; }
.left_tnb li a:hover {color: gold; }

.right_tnb {float: right; }
.right_tnb li {float: left; line-height: 30px; }
.right_tnb li a { margin-left: 14px; display:block; width:30px; height:30px; text-indent:9999px; overflow: hidden; background-image: url("./images/icons.png"); margin-top: 10px; background-size:300px 700px; }

.tnb ul li a { color: #fff; font-size: 0.9em; }

.main { clear:both; width: 100%; height: 80px; background-color: #fff; border-bottom: 1px solid slategray; }
.main_wrap { clear:both; width: 95%; margin: 0 auto; position: relative; }

.logo { display: block; width: 120px; height: 45px; overflow:hidden; position: absolute; top: 10px; left: 0;}
.logo img { display: block; width: 100%; height: auto;}

.gnb { position: relative; margin-top: 10px; }
.gnb > ul { width: 800px; height: 48px; margin: 0px auto;}
.gnb > ul > li { float: left; width:20%; text-align: center; line-height: 65px; }
.gnb > ul > li > a { display: block; font-size: 1.3em; color: black; font-weight: bold; }
.gnb > ul > li:hover > a { border-bottom: 1px solid crimson;}

.sub { display: none; padding-top: 20px; width: 800px; }
.sub.item2 {margin-left: -160px; }
.sub.item3 {margin-left: -320px; }
.sub.item4 {margin-left: -470px; }
.sub.item5 {margin-left: -640px; }
.gnb > ul > li:hover > .sub { display: block; }
.sub > ul > li { float: left; width: 20%; }
.sub > ul > li > a { display: block; color: #000; font-style: 1.1em; font-weight: 500; }
.sub > ul > li:hover > a { border-bottom: 1px solid crimson; }

.sitemap_btn { display: block; position: absolute; top: 28px; right: 10px; cursor: pointer; width: 20px; height: 20px; overflow:hidden; text-indent: -9999px; background-image: url("./images/gnb_icon_menu.png"); background-size: 20px 40px; background-position: center -20px; z-index: 10;}
.sitemap { position: fixed; top: 0; left: 0; width: 100vw; height: 100vw; z-index: 999; background-color: rgba(245, 110, 137, 0.9); display: none;}
.sitemap #realtedSites { color:#fff; padding-top: 120px; margin-top:40px; border-top:1px solid #fff; padding-left: 600px;}
.sitemap #realtedSites li { float:left; padding-right: 40px; line-height: 2.4; 
font-size:22px; }
.sitemap #realtedSites li a { color:#fff; font-size:16px; }
.sitemap #realtedSites li ul { clear:both; }
.sitemap #realtedSites li ul li { clear:both; }
#sitemap_ck:checked ~ .sitemap {display: block;}
#sitemap_ck {display: none;}
.close_btn { display:block;     width: 30px;    height: 30px;
    background-image: url("./images/icons.png");   background-repeat: no-repeat;
background-size: 300px auto;    background-position: -150px -60px;  cursor:pointer;
position:absolute; right:10%; top:10%; z-index:9999; overflow:hidden; text-indent:-9999px; }

.vs { clear:both; position: relative; width: 100vw; height: calc(100vh - 135px); overflow: hidden; }
.vs video { display: block; width: 100%; }

.page { clear: both; position: relative; width: 100vw; height: 100vh; }
.page_wrap { clear: both; width: 1400px; margin: 0 auto; }

.page_title {text-align: center; font-size: 48px; padding-top: 2em; }

#page1{background-color: #fff; color: #333; }
#page1 .page_wrap { width: 1280px; }
#page1 .tit_box { float: left; }
.sub_title{ font-size: 16px; color: orange; font-weight: 100; }
.main_title{ font-size: 32px; color: #000; font-weight: 700; float: left; }
#page1 .pg1_btn_box{ clear: both; }
#page1 .pg1_btn_box label{ display: block; padding: 0.8em;  float: left; border: 1px solid #e1e1e1; border-radius: 36px; margin: 0.5rem; color: #999; cursor: pointer; }
#page1 .pg1_btn_box label:hover{ color: #FFF; background-color: crimson; }
.pg_ra { display: none; }
#page1 .pg_ra:checked + label { color: #fff; background-color: #075d46; }
.ban_fr { clear: both; width: 1280px; height: 550px; padding-top: 40px; overflow: hidden; }
.ban_fr .ban_box { width: 600%; height: 550px; transition-duration: 0.6s; }
.ban_fr .ban_box li { width: 1280px; float: left; height: 550px; }
.ban_fr .ban_box li .pic { display: block; width: 840px; height: 550px; float: left; border-radius: 40px; }
.ban_fr .ban_box li .ban_tit_box { float: right; width: 400px; height: 550px; position: relative; background-color: #f1f1f1; border-radius: 40px; }
.ban_fr .ban_box li .ban_tit_box .ban_tit1 { font-size: 64px; line-height: 3; color: #075d46; margin-left: 50px; }
.ban_fr .ban_box li .ban_tit_box .ban_tit2 { position: absolute; left: 50px; bottom: 120px; font-size: 36px; line-height: 2; color: #075d46; }
.ban_fr .ban_box li .ban_tit_box .ban_com { position: absolute; bottom: 50px; left: 50px; font-style: 16px; color: #666; }
#pg1_ra1:checked ~ .ban_fr .ban_box { margin-left: 0; }
#pg1_ra2:checked ~ .ban_fr .ban_box { margin-left: -1280px; }
#pg1_ra3:checked ~ .ban_fr .ban_box { margin-left: -2560px; }
#pg1_ra4:checked ~ .ban_fr .ban_box { margin-left: -3840px; }
#pg1_ra5:checked ~ .ban_fr .ban_box { margin-left: -5100px; }


#page2{ background-color: #fff; color: #333; }
#page2 .page_wrap { clear: both; padding-top: 80px; }
.grid_fr { clear: both; width: 1280px; }
.grid_fr .grid_box { clear: both; width: 1280px; padding-left: 40px; }
.grid_box li { width: 410px; margin-right: 25px; float: left; height: 624px; }
.grid_box li:last-child { margin-right: 0; }
.grid_box li a { display: block; color: #fff; background-position: center center; background-repeat: no-repeat; border-radius: 40px; margin-top: 25px; height: 624px; padding-top: 30em; padding-left: 2em; font-style: 30px; box-sizing: border-box; }
.grid_box li a.item1 { background-image: url("./images/contribution_overview_01.png"); }
.grid_box li a.item2 { background-image: url("./images/main_visual_people_02.png"); }
.grid_box li a.item3 { background-image: url("./images/main_management.png"); }
.grid_box li a .grid_tit { line-height: 2; }
.grid_box li a .grid_com { font-size: 16px; }


#page3{background-color: darkseagreen; color: #fff; }
#page3 .page_wrap { width: 1280px; padding-top:80px; }
.col_fr { clear:both; width: 1280px; padding-top: 40px; }
.col_fr .col_box { clear: both; width: 1280px; }
.col_fr .col_box li.left { float:left; width: 844px; height: 458px; 
background-color:#fff; color:#000; border-radius:25px; box-sizing: border-box; padding:38px; }
.one_line { font-size:28px; line-height: 2; padding-bottom:18px; }    
.inv_p { clear:both; }
.large_txt { float:left; font-size:70px; padding-right: 40px; }
.small_txt { float:left; font-size:18px; padding-top: 14px; line-height: 1.8; }
.col_dl { clear:both; padding-top:30px;  }
.col_dl dd { width:250px; float:left; margin:20px 0px; font-size:22px; font-weight:100; 
line-height: 1.6; }
.col_dl dd .d_tit { font-weight: 200; color:#999; }
.col_dl dd .d_com { font-weight: 100; }
.btxt { color:#37e3b5; padding-left: 24px; }
.ltxt { color:#999; }
.col_fr .col_box li.right { float:right; width: 410px; height: 458px; }
.col_fr .col_box li.right a { display:block; background-color: #fff; color:#333; height: 135px; line-height: 135px;  margin-bottom: 26px; border-radius:25px;   }
.col_fr .col_box li.right a span { padding-left: 20px; }
.col_fr .col_box li.right a:after { content:""; display:block; width: 28px; height: 35px; 
background-image: url("./images/icons.png"); background-repeat: no-repeat; 
background-position: -495px -72px; float:right; margin-top:50px; margin-right:20px; }
.col_fr .col_box li.right a span:before { content:""; display:block; float:left; width:79px; height:76px; background-image:url("./images/icons.png"); background-repeat: no-repeat;background-position:0px -682px; margin-top: 30px; margin-left: 20px; } 


#page4{background-color: #fff; color: #333; }
#page4 .tit_box { clear: both; padding-top: 80px; width: 1280px; margin: 0 auto; }
.more { display: block; position: absolute; top: 60px; right: 300px; font-size: 68px; font-weight: bold; width: 80px; height: 80px; margin: 100px auto; padding-top: 40px; }
.board_fr {clear: both; width: 1280px; margin: 0px auto; padding-top: 40px;}
.tb1 { clear: both; border-collapse: collapse; }
.tb1 tr { width: 1280px; }
.tb1 td { min-height: 50px; padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #ccc; }
.tb1 td.td1 { width: 50px; font-size: 30px; }
.tb1 td a { display: block; color: #333; transition-duration: 0.4s;}


#page5{background-color: #eee; color: #333;}
#page5 .tit_box { clear:both; padding-top: 80px; }
.colm_fr { clear:both; }
.colm_fr .lst_tit {clear:both; padding-top: 30px; font-size: 28px; font-weight: 100; line-height: 2; }
.lst1, .lst2 { clear:both; }
.lst1 li, .lst2 li { float: left; width: 410px; margin-right: 25px; height: 250px; background-color: #fff; border-radius: 25px; box-sizing: border-box; padding-left: 40px; padding-top: 60px;}
.lst1 li:last-child, .lst2 li:last-child { margin-right: 0; }
.colm_fr ul .item_tit { font-style: 32px; line-height: 2.8; color: #333; }
.colm_fr ul li:before { content: ""; display: block; width: 60px; height: 60px; background-image: url("./images/icons.png"); background-repeat: no-repeat; background-size: 300px auto; }
.colm_fr ul li a { display: block; width: 150px; line-height: 30px; padding-left: 18px; background-color: crimson; color: #fff; border-radius: 25px; }
.colm_fr ul li a:after { content: "→"; padding-left: 60px; }
.colm_fr .lst1 .item1:before { background-position: 0px -400px; }
.colm_fr .lst1 .item2:before { background-position: -60px -400px; }
.colm_fr .lst1 .item3:before { background-position: -120px -400px; }
.colm_fr .lst2 .item1:before { background-position: -180px -400px; }
.colm_fr .lst2 .item2:before { background-position: -240px -400px; }
.colm_fr .lst2 .item3:before { background-position: 0px -460px; }